
* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

html, body {
  font-family: 'Balsamiq Sans', Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button {
  padding: .5em;
  border: 1px solid grey;
  margin: .5em;
  cursor: pointer;
  outline: none;
}

canvas[resize] {
  height: 100%;
  width: 100%;
}
